.recipe-details {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
.recipe-details img {
  width: 50%;
  margin: auto;
  border-radius: 100%;
}

.details button {
  background-color: var(--primary);
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  margin: 0.4rem 0;
}
