<div class="recipe-details">
  @if(!recipeDetails){
  <h2>Select recipe to see details</h2>
  }@else {
  <img [src]="'assets/images/' + recipeDetails.imagePath" alt="recipe" />
  <div class="details">
    <h1 class="name">{{ recipeDetails.name }}</h1>
    <div class="manage" (click)="toggleDropdown()">
      <button>Manage</button>
      <img src="assets/icons/dropdown-arrow.png" alt="" />
      @if(isOpen){
      <div class="dropdown">
        <a (click)="onAddNewIngredients(recipeDetails.ingredients)"
          >To Shopping List</a
        >
        <a (click)="onEditRecipe()">Edit Recipe</a>
        <a routerLink="/fetch-data" (click)="onDeleteRecipe()">Delete Recipe</a>
      </div>
      }
    </div>
    <p>{{ recipeDetails.description }}</p>
    <div class="ingredients">
      <ul>
        @for (ingredient of recipeDetails.ingredients; track $index) {
        <li>{{ ingredient.name }} ({{ ingredient.amount }})</li>
        }
      </ul>
    </div>
  </div>
  }
</div>
