/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #5c1bff;
  --white: #fff;
  --black: #000;
  --link: #0000ff;
  --danger: #a30909;
  --secondary: #e46300;
  --header-height: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  color: var(--white);
}

button:disabled {
  cursor: not-allowed;
}

.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography h6,
.mat-typography p {
  margin: 0;
}
