.header {
  text-align: center;
  color: #fff;
  padding: 2rem 1rem;
}

.header img {
  width: 12rem;
  object-fit: contain;
}

.header h2 {
  font-size: 1.5rem;
}

@media only screen and (max-width: 476px) {
  .header img {
    width: 8rem;
  }

  .header h2 {
    font-size: 1.2rem;
  }
}
