/* .auth {
  display: flex;
  align-items: center;
  justify-content: center; */
/* } */

mat-spinner {
  text-align: center;
  margin: 10rem auto;
}

.error {
  background-color: rgba(244, 125, 125, 0.7);
  border: 1px solid var(--danger);
  padding: 0.8rem 1rem;
  border-radius: 0.2rem;
  color: var(--danger);
}

.error p {
  font-size: 1.2rem;
}

.auth form {
  width: 50%;
  min-width: 30rem;
  margin: auto;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 3rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.auth h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.form-group label {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.form-group input {
  font-size: 1.2rem;
  padding: 0.6rem;
  outline: none;
}

.form-group button {
  background-color: var(--primary);
  padding: 0.8rem 1.2rem;
  border-radius: 0.2rem;
  margin-right: 1rem;
  font-size: 1rem;
}
