.shopping-edit {
  width: 60%;
}

.input-row {
  margin: 2rem 0;
}

.input-field input {
  padding: 0.5rem 0.3rem;
  outline: none;
  font-size: 1rem;
}

.input-field label {
  font-size: 1rem;
}

button {
  background-color: var(--primary);
  padding: 0.8rem 1.4rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  margin-right: 1rem;
}

.add {
  background-color: var(--primary);
}

.delete {
  background-color: red;
}

.clear {
  background-color: lime;
}
