<div class="shopping-edit">
  <form>
    <div class="input-row flex-center-between">
      <div class="input-field">
        <label for="name">Name</label>
        <input id="name" type="text" />
      </div>

      <div class="input-field">
        <label for="amount">Amount</label>
        <input id="amount" type="number" />
      </div>
    </div>

    <div class="input-row">
      <button type="submit" class="add">Add</button>
      <button type="button" class="delete">Delete</button>
      <button type="button" class="clear">Clear</button>
    </div>
  </form>
</div>
