<div class="header flex-center-between">
  <div class="left flex-center-between">
    <div class="logo">
      <h2>Recipe Book</h2>
    </div>
    <div class="navs">
      <ul class="flex-center-between">
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a *ngIf="isAuthenticated" routerLink="/recipes">Recipes</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/shopping-list">Shopping List</a>
        </li>
        <li routerLinkActive="active">
          <a *ngIf="!isAuthenticated" routerLink="/auth">Signup/Login</a>
        </li>
        <li routerLinkActive="active">
          <a *ngIf="isAuthenticated" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="isAuthenticated" class="right">
    <div class="manage" (click)="toggleDropdown()">
      <button>Manage</button>
      <img src="assets/icons/dropdown-arrow.png" alt="" />
      @if(isOpen){
      <div class="dropdown">
        <a (click)="saveData()">Save Data</a>
        <a (click)="fetchData()">Fetch Data</a>
      </div>
      }
    </div>
  </div>
</div>
