<div class="header flex-center-between">
  <div class="left flex-center-between">
    <div class="logo">
      <h2>Recipe Book</h2>
    </div>
    <div class="navs">
      <ul class="flex-center-between">
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/recipes">Recipes</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="manage" (click)="toggleDropdown()">
      <button>Manage</button>
      <img src="assets/icons/dropdown-arrow.png" alt="" />
      @if(isOpen){
      <div class="dropdown">
        <a routerLink="/save-data">Save Data</a>
        <a routerLink="/fetch-data">Fetch Data</a>
      </div>
      }
    </div>
  </div>
</div>
