<div class="recipe-edit">
  <form [formGroup]="recipeForm" (ngSubmit)="recipeOnSave()">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        placeholder="Enter Name"
        formControlName="name"
      />
    </div>

    <div class="form-group">
      <label for="imagePath">Image URL</label>
      <input
        id="imagePath"
        type="text"
        placeholder="Enter Image URL"
        formControlName="imagePath"
      />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        rows="3"
        placeholder="Enter Description"
        formControlName="description"
      ></textarea>
    </div>

    <div class="ingredients-list" formArrayName="ingredients">
      <!-- @if(recipeForm && controls){ @for(let ingredientControl of controls; track -->
      <!-- $index){ -->
      <div
        class="ingredient-group"
        *ngFor="let ingredientControl of controls; let i = index"
        [formGroupName]="i"
      >
        <input class="ing-name" type="text" formControlName="name" />
        <input class="ing-amount" type="number" formControlName="amount" />
        <button class="delete" type="button">X</button>
      </div>
      <div class="ingredient-group">
        <div class="btn">
          <button class="add" type="button" (click)="onAddIngredient()">
            Add Ingredient
          </button>
        </div>
      </div>
      <!-- } } -->
    </div>

    <div class="form-group">
      <div class="actions">
        <button class="save" type="submit" [disabled]="!recipeForm.valid">
          Save
        </button>
        <button class="cancel" type="button">Cancel</button>
      </div>
    </div>
  </form>
</div>
